.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.main-logo {
  background-color: red;
  width: 280px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 25px;
}

h1 {
  font-size: 80px;
}

@media (max-width: 600px){
  h1 {
    font-size: 60px;
  }
  .main-logo {
    background-color: red;
    width: 153px;
    padding: 10px 5px 0px 5px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .main-text,
  .testimonial-item p {
    font-size: x-large !important;
  }
  .link {
    font-size: 20px !important;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 55px;
  }
}

h1, h2 {
  font-weight: bold;
}

.main-content {
  background: rgba(250,0,0,0.4);
  min-height: 700px;
}
.main-text {
  padding: 40px 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.link-wrap {
  text-align: center;
}

.link {
  background: rebeccapurple;
  border-radius: 15px;
  padding: 20px;
  color: aliceblue;
  font-size: 32px;
  border-style: dashed;
}

a:hover{
  color: grey;
}

.testimonials {
  padding: 40px 15px;
  text-align: center;
  background: tomato;
}

.testimonial-item {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.testimonial-pic {
  border-radius: 100px;
}

.testimonial-item p {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  color: white;
}

span.quote {
  font-size: xx-large;
}
span.important {
  color: white;
  background-color: red;
}

html,body {
  background-image: url(../ThinkingOfYou_Version2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.clear-fix {
  clear: both;
}

.title-item {
  margin: 0 auto;
  max-width: 520px;
  position: relative;
}
